{% extends "base.html" %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Имя пользователя</th>
            <th scope="col">email</th>
            <th scope="col">Текст задачи</th>
            <th scope="col">Статус</th>
            {% if request.user.is_authenticated %}
                <th scope="col">Действия</th>
            {% endif %}

        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.username }}</td>
                <td>{{ task.email }}</td>
                <td>{{ task.task_text }}</td>
                {% if task.is_done and task.is_edited %}
                    <td>
                        <p>Выполнено</p>
                        <p>Отредактировано администратором</p>
                    </td>
                {% elif task.is_done %}
                    <td>Выполнено</td>
                {% elif task.is_edited %}
                    <td>Отредактировано администратором</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>
                    {% if request.user.is_authenticated %}
                        <a class="nav-link" href="{% url 'tasks:done' task.id %} ">
                            Завершить
                        </a>
                        <a class="nav-link" href="{% url 'tasks:update' task.id %} ">
                            Редактировать
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <div class="pagination">
                <span class="step-links pagination page-item">
                    {% if page_obj.has_previous %}
                        <p class="paginator page-link" id="?page=1">&laquo; first</p>
                        <p class="paginator page-link"
                           id="?page={{ page_obj.previous_page_number }}">previous</p>
                    {% endif %}

                    <span class="current page-link">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                    {% if page_obj.has_next %}
                        <p class="paginator page-link" id="?page={{ page_obj.next_page_number }}">next</p>
                        <p class="paginator page-link"
                           id="?page={{ page_obj.paginator.num_pages }}">last &raquo;</p>
                    {% endif %}
                </span>
            </div>
        </ul>
    </nav>

    <script>
        $('.paginator').click(function (e) {
            let url = new URL(location);
            let page = $(this).attr('id').split('=')[1]
            if (sort) {
                url.searchParams.set('sorting', sort);
                url.searchParams.set('field', field);
            }

            url.searchParams.set('page', page);
            document.location.href = url
        })
    </script>
{% endblock %}
